In [1]:
import pandas as pd
import numpy as np

In [2]:
scenario = 'real'

In [3]:
top_down = range(1024)
bottom_up = range(1024, 2048)

In [4]:
data_train = pd.read_csv('./data/{}_q_types_features_train.csv'.format(scenario), header=None)
#data_train['_scen'] = 'train'
data_val = pd.read_csv('./data/{}_q_types_features_val.csv'.format(scenario), header=None)
#data_val['_scen'] = 'val'
data = pd.concat([data_train, data_val])
del data_train
del data_val

In [5]:
data[2048] = data[2048].astype(int)
data.sort_values(by=2048, inplace=True)

In [6]:
data.shape

(658111, 2050)

In [7]:
details_train = pd.read_csv('./data/predictions_details_{}_train'.format(scenario), header=None)
details_val = pd.read_csv('./data/predictions_details_{}_val'.format(scenario), header=None)
details = pd.concat([details_train, details_val])
details[2] = details[2].astype(int)
details.sort_values(by=2, inplace=True)

predicted = details[0].values
target = details[1].values

data['my_predicted'] = predicted
data['my_target'] = target

In [8]:
(data[2048] != details[2].values).astype(int).sum()

0

In [9]:
details_train = pd.read_csv('./data/predictions_details_base_{}_train'.format(scenario), header=None)
details_val = pd.read_csv('./data/predictions_details_base_{}_val'.format(scenario), header=None)
details = pd.concat([details_train, details_val])
details[2] = details[2].astype(int)
details.sort_values(by=2, inplace=True)

predicted = details[0].values
target = details[1].values
data['base_predicted'] = predicted
data['base_target'] = target

In [10]:
(data[2048] != details[2].values).astype(int).sum()

0

In [11]:
#labels_train = pd.read_csv('./data/predictions_{}_train'.format(scenario), header=None).values[:,0]
#labels_val = pd.read_csv('./data/predictions_{}_val'.format(scenario), header=None).values[:,0]
#labels = labels_train.tolist() + labels_val.tolist()
#data['my_acc'] = labels
#assert labels_train.shape[0] + labels_val.shape[0] == len(labels)

In [12]:
#data.to_csv('./concatenated_data/{}.csv'.format(scenario), index=False)

In [13]:
data[:3]

,0,1,2,3,4,5,6,7,8,9,...,2044,2045,2046,2047,2048,2049,my_predicted,my_target,base_predicted,base_target
0,3.621112,0.0,0.362051,0.0,0.0,0.0,0.0,0.0,0.0,3.502063,...,0.723560,1.716353,0.000000,2.856147,9000,how many,841,841,2195,841
1,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,2.273109,0.000000,7.530718,0.654848,9001,what color are the,1204,2542,759,2542
2,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,14.255922,0.000000,1.289435,0.000000,9002,what is the,2529,2529,2529,2529

In [14]:
data['sum_top_down'] = data[top_down].sum(1)
data['sum_bottom_up'] = data[bottom_up].sum(1)

In [15]:
data[:3]

,0,1,2,3,4,5,6,7,8,9,...,2046,2047,2048,2049,my_predicted,my_target,base_predicted,base_target,sum_top_down,sum_bottom_up
0,3.621112,0.0,0.362051,0.0,0.0,0.0,0.0,0.0,0.0,3.502063,...,0.000000,2.856147,9000,how many,841,841,2195,841,515.023036,555.346463
1,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,7.530718,0.654848,9001,what color are the,1204,2542,759,2542,735.734441,733.956401
2,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,1.289435,0.000000,9002,what is the,2529,2529,2529,2529,946.130073,1108.889205

In [16]:
data[data.columns.tolist()[-8:]].to_csv('./concatenated_data/{}_prediction.csv'.format(scenario), index=False)

In [17]:
(data[2049]>0).sum()

658111

In [18]:
data.shape

(658111, 2056)

In [19]:
# column 2048 -> query type
_sum = data.groupby(2049).sum().round(1)
count = data.groupby(2049).count()

activations_sum = pd.concat([pd.DataFrame(_sum[top_down].sum(1), columns=['sum_top_down']), 
                           pd.DataFrame(_sum[bottom_up].sum(1), columns=['sum_bottom_up'])], 1)
_sum = (activations_sum.sum_top_down + activations_sum.sum_bottom_up).values
activations_sum = activations_sum/np.array([_sum, _sum]).T

activations_count = pd.concat([pd.DataFrame(count[top_down].sum(1), columns=['count_top_down']), 
                             pd.DataFrame(count[bottom_up].sum(1), columns=['count_bottom_up'])], 1)
_sum = (activations_count.count_top_down + activations_count.count_bottom_up).values
activations_count = activations_count/np.array([_sum, _sum]).T

summary = pd.concat([activations_sum, activations_count], 1)

In [20]:
summary

,sum_top_down,sum_bottom_up,count_top_down,count_bottom_up
2049,,,,
4 lettered,0.440907,0.559093,0.5,0.5
a pull,0.475547,0.524453,0.5,0.5
a red,0.514597,0.485403,0.5,0.5
a type,0.512143,0.487857,0.5,0.5
a white,0.505314,0.494686,0.5,0.5
according to,0.502500,0.497500,0.5,0.5
adult or,0.482540,0.517460,0.5,0.5
am i,0.499086,0.500914,0.5,0.5
android or,0.535405,0.464595,0.5,0.5
animal creature,0.471577,0.528423,0.5,0.5
animal on,0.493517,0.506483,0.5,0.5
"animal, vegetable",0.446707,0.553293,0.5,0.5
any brick,0.524850,0.475150,0.5,0.5
any cars,0.509105,0.490895,0.5,0.5
any chains,0.496277,0.503723,0.5,0.5
any chocolate,0.503258,0.496742,0.5,0.5
any green,0.472455,0.527545,0.5,0.5
any of,0.512498,0.487502,0.5,0.5
any people,0.497478,0.502522,0.5,0.5
any pictures,0.501757,0.498243,0.5,0.5
any plants,0.477946,0.522054,0.5,0.5
any vegetables,0.472735,0.527265,0.5,0.5
anyone inside,0.513529,0.486471,0.5,0.5
anyone on,0.503540,0.496460,0.5,0.5
anyone sleeping,0.497292,0.502708,0.5,0.5
anyone wearing,0.498128,0.501872,0.5,0.5
anyone women,0.519866,0.480134,0.5,0.5
anything on,0.514578,0.485422,0.5,0.5
are,0.501049,0.498951,0.5,0.5
are the,0.496409,0.503591,0.5,0.5
...,...,...,...,...
would more,0.497178,0.502822,0.5,0.5
would most,0.497405,0.502595,0.5,0.5
would now,0.497600,0.502400,0.5,0.5
would one,0.495906,0.504094,0.5,0.5
would people,0.487288,0.512712,0.5,0.5
would pine,0.495459,0.504541,0.5,0.5
would pineapple,0.501208,0.498792,0.5,0.5
would sitting,0.496747,0.503253,0.5,0.5
would someone,0.499813,0.500187,0.5,0.5
would that,0.498036,0.501964,0.5,0.5
would the,0.497148,0.502852,0.5,0.5
would there,0.492214,0.507786,0.5,0.5
would these,0.496049,0.503951,0.5,0.5
would they,0.483822,0.516178,0.5,0.5
would those,0.502054,0.497946,0.5,0.5
would today,0.490913,0.509087,0.5,0.5
would traffic,0.501796,0.498204,0.5,0.5
would two,0.506924,0.493076,0.5,0.5
would wolves,0.485492,0.514508,0.5,0.5
would you,0.496299,0.503701,0.5,0.5
would your,0.496838,0.503162,0.5,0.5
wouldn't it,0.511029,0.488971,0.5,0.5
wouldn't one,0.500642,0.499358,0.5,0.5
wouldn't you,0.473764,0.526236,0.5,0.5
yes it,0.487053,0.512947,0.5,0.5
yes on,0.501127,0.498873,0.5,0.5
yes the,0.495910,0.504090,0.5,0.5
yes very,0.474871,0.525129,0.5,0.5
"yes, it",0.475361,0.524639,0.5,0.5
"yes, you",0.510741,0.489259,0.5,0.5

In [21]:
#p = 1.5 #90%

mean_dif = (summary.sum_top_down - summary.sum_bottom_up).mean()
std_dif = (summary.sum_top_down - summary.sum_bottom_up).std()
data_dif = (summary.sum_top_down - summary.sum_bottom_up)
#data_diff = pd.DataFrame( (data_dif < mean_dif - p * std_dif).astype(int) + 
#                         (data_dif > mean_dif + p * std_dif).astype(int) > 0 )

significantly_different = summary.copy()#.loc[data_diff[data_diff[0]].index]
significantly_different['diff'] = data_dif.round(2)
abstract_rep_count = pd.DataFrame(data[2049].value_counts())
abstract_representativity = np.round(abstract_rep_count/data.shape[0] *100, 4)
print(abstract_representativity.shape)
significantly_different['_count'] = abstract_rep_count.loc[significantly_different.index]
#significantly_different['represents %'] = abstract_representativity.loc[significantly_different.index]
significantly_different['over_median'] = abstract_representativity.loc[significantly_different.index] > float(abstract_representativity.median())
print(float(abstract_representativity.median()))
significantly_different['winner'] = np.array(['top_down',
                                              'bottom_up'])[(significantly_different.sum_bottom_up 
                                                            > significantly_different.sum_top_down).astype(int)]

#np.round(float(data_dif[data_diff[0]].shape[0]) / data_diff.shape[0] * 100, 2)

(632, 1)
0.0007

In [22]:
significantly_different.shape

(632, 8)

In [23]:
significantly_different.to_csv('./concatenated_data/queries_summary_{}.csv'.format(scenario), index=True)

In [24]:
significantly_different#[significantly_different._count>1].sort_values(by='winner')

,sum_top_down,sum_bottom_up,count_top_down,count_bottom_up,diff,_count,over_median,winner
2049,,,,,,,,
4 lettered,0.440907,0.559093,0.5,0.5,-0.12,1,False,bottom_up
a pull,0.475547,0.524453,0.5,0.5,-0.05,1,False,bottom_up
a red,0.514597,0.485403,0.5,0.5,0.03,2,False,top_down
a type,0.512143,0.487857,0.5,0.5,0.02,2,False,top_down
a white,0.505314,0.494686,0.5,0.5,0.01,1,False,top_down
according to,0.502500,0.497500,0.5,0.5,0.01,2,False,top_down
adult or,0.482540,0.517460,0.5,0.5,-0.03,2,False,bottom_up
am i,0.499086,0.500914,0.5,0.5,-0.00,2,False,bottom_up
android or,0.535405,0.464595,0.5,0.5,0.07,2,False,top_down
animal creature,0.471577,0.528423,0.5,0.5,-0.06,2,False,bottom_up
animal on,0.493517,0.506483,0.5,0.5,-0.01,2,False,bottom_up
"animal, vegetable",0.446707,0.553293,0.5,0.5,-0.11,2,False,bottom_up
any brick,0.524850,0.475150,0.5,0.5,0.05,2,False,top_down
any cars,0.509105,0.490895,0.5,0.5,0.02,2,False,top_down
any chains,0.496277,0.503723,0.5,0.5,-0.01,2,False,bottom_up
any chocolate,0.503258,0.496742,0.5,0.5,0.01,2,False,top_down
any green,0.472455,0.527545,0.5,0.5,-0.06,2,False,bottom_up
any of,0.512498,0.487502,0.5,0.5,0.02,1,False,top_down
any people,0.497478,0.502522,0.5,0.5,-0.01,8,True,bottom_up
any pictures,0.501757,0.498243,0.5,0.5,0.00,2,False,top_down
any plants,0.477946,0.522054,0.5,0.5,-0.04,2,False,bottom_up
any vegetables,0.472735,0.527265,0.5,0.5,-0.05,2,False,bottom_up
anyone inside,0.513529,0.486471,0.5,0.5,0.03,1,False,top_down
anyone on,0.503540,0.496460,0.5,0.5,0.01,4,False,top_down
anyone sleeping,0.497292,0.502708,0.5,0.5,-0.01,1,False,bottom_up
anyone wearing,0.498128,0.501872,0.5,0.5,-0.00,2,False,bottom_up
anyone women,0.519866,0.480134,0.5,0.5,0.04,2,False,top_down
anything on,0.514578,0.485422,0.5,0.5,0.03,4,False,top_down
are,0.501049,0.498951,0.5,0.5,0.00,5085,True,top_down
are the,0.496409,0.503591,0.5,0.5,-0.01,11204,True,bottom_up
...,...,...,...,...,...,...,...,...
would more,0.497178,0.502822,0.5,0.5,-0.01,2,False,bottom_up
would most,0.497405,0.502595,0.5,0.5,-0.01,41,True,bottom_up
would now,0.497600,0.502400,0.5,0.5,-0.00,3,False,bottom_up
would one,0.495906,0.504094,0.5,0.5,-0.01,58,True,bottom_up
would people,0.487288,0.512712,0.5,0.5,-0.03,21,True,bottom_up
would pine,0.495459,0.504541,0.5,0.5,-0.01,1,False,bottom_up
would pineapple,0.501208,0.498792,0.5,0.5,0.00,2,False,top_down
would sitting,0.496747,0.503253,0.5,0.5,-0.01,2,False,bottom_up
would someone,0.499813,0.500187,0.5,0.5,-0.00,140,True,bottom_up
would that,0.498036,0.501964,0.5,0.5,-0.00,9,True,bottom_up
would the,0.497148,0.502852,0.5,0.5,-0.01,323,True,bottom_up
would there,0.492214,0.507786,0.5,0.5,-0.02,23,True,bottom_up
would these,0.496049,0.503951,0.5,0.5,-0.01,109,True,bottom_up
would they,0.483822,0.516178,0.5,0.5,-0.03,19,True,bottom_up
would those,0.502054,0.497946,0.5,0.5,0.00,4,False,top_down
would today,0.490913,0.509087,0.5,0.5,-0.02,2,False,bottom_up
would traffic,0.501796,0.498204,0.5,0.5,0.00,2,False,top_down
would two,0.506924,0.493076,0.5,0.5,0.01,4,False,top_down
would wolves,0.485492,0.514508,0.5,0.5,-0.03,2,False,bottom_up
would you,0.496299,0.503701,0.5,0.5,-0.01,1166,True,bottom_up
would your,0.496838,0.503162,0.5,0.5,-0.01,2,False,bottom_up
wouldn't it,0.511029,0.488971,0.5,0.5,0.02,1,False,top_down
wouldn't one,0.500642,0.499358,0.5,0.5,0.00,2,False,top_down
wouldn't you,0.473764,0.526236,0.5,0.5,-0.05,2,False,bottom_up
yes it,0.487053,0.512947,0.5,0.5,-0.03,20,True,bottom_up
yes on,0.501127,0.498873,0.5,0.5,0.00,6,True,top_down
yes the,0.495910,0.504090,0.5,0.5,-0.01,27,True,bottom_up
yes very,0.474871,0.525129,0.5,0.5,-0.05,2,False,bottom_up
"yes, it",0.475361,0.524639,0.5,0.5,-0.05,6,True,bottom_up
"yes, you",0.510741,0.489259,0.5,0.5,0.02,2,False,top_down