In [1]:
import pandas as pd
import numpy as np

In [2]:
scenario = 'real'

In [3]:
top_down = range(1024)
bottom_up = range(1024, 2048)

In [4]:
data_train = pd.read_csv('./data/{}_q_types_features_train_b.csv'.format(scenario), header=None)
#data_train['_scen'] = 'train'
data_val = pd.read_csv('./data/{}_q_types_features_val_b.csv'.format(scenario), header=None)
#data_val['_scen'] = 'val'
data = pd.concat([data_train, data_val])
del data_train
del data_val

In [5]:
data[2048] = data[2048].astype(int)
data.sort_values(by=2048, inplace=True)

In [6]:
data.shape

(658111, 2050)

In [7]:
details_train = pd.read_csv('./data/predictions_details_{}_train'.format(scenario), header=None)
details_val = pd.read_csv('./data/predictions_details_{}_val'.format(scenario), header=None)
details = pd.concat([details_train, details_val])
details[2] = details[2].astype(int)
details.sort_values(by=2, inplace=True)

predicted = details[0].values
target = details[1].values

data['my_predicted'] = predicted
data['my_target'] = target
data['score'] = details[3].values

In [8]:
(data[2048] != details[2].values).astype(int).sum()

0

In [9]:
details_train = pd.read_csv('./data/predictions_details_base_{}_train'.format(scenario), header=None)
details_val = pd.read_csv('./data/predictions_details_base_{}_val'.format(scenario), header=None)
details = pd.concat([details_train, details_val])
details[2] = details[2].astype(int)
details.sort_values(by=2, inplace=True)

predicted = details[0].values
target = details[1].values
data['base_predicted'] = predicted
data['base_target'] = target
data['base_score'] = details[3].values

In [10]:
(data[2048] != details[2].values).astype(int).sum()

0

In [11]:
#labels_train = pd.read_csv('./data/predictions_{}_train'.format(scenario), header=None).values[:,0]
#labels_val = pd.read_csv('./data/predictions_{}_val'.format(scenario), header=None).values[:,0]
#labels = labels_train.tolist() + labels_val.tolist()
#data['my_acc'] = labels
#assert labels_train.shape[0] + labels_val.shape[0] == len(labels)

In [12]:
#data.to_csv('./concatenated_data/{}.csv'.format(scenario), index=False)

In [13]:
data[:3]

,0,1,2,3,4,5,6,7,8,9,...,2046,2047,2048,2049,my_predicted,my_target,score,base_predicted,base_target,base_score
0,3.621112,0.0,0.362051,0.0,0.0,0.0,0.0,0.0,0.0,3.502063,...,0.000000,2.856147,9000,how many,841,841,1.0,2195,841,0.0
1,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,7.530718,0.654848,9001,what color are the,1204,2542,0.0,759,2542,0.0
2,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,1.289435,0.000000,9002,what is the,2529,2529,1.0,2529,2529,1.0

In [14]:
data['sum_top_down'] = data[top_down].sum(1)
data['sum_bottom_up'] = data[bottom_up].sum(1)

In [15]:
data[:3]

,0,1,2,3,4,5,6,7,8,9,...,2048,2049,my_predicted,my_target,score,base_predicted,base_target,base_score,sum_top_down,sum_bottom_up
0,3.621112,0.0,0.362051,0.0,0.0,0.0,0.0,0.0,0.0,3.502063,...,9000,how many,841,841,1.0,2195,841,0.0,515.023036,555.346463
1,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,9001,what color are the,1204,2542,0.0,759,2542,0.0,735.734441,733.956401
2,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,9002,what is the,2529,2529,1.0,2529,2529,1.0,946.130073,1108.889205

In [16]:
data.columns.tolist()[-10:]

[2048,
 2049,
 'my_predicted',
 'my_target',
 'score',
 'base_predicted',
 'base_target',
 'base_score',
 'sum_top_down',
 'sum_bottom_up']

In [17]:
data[data.columns.tolist()[-10:]].to_csv('./concatenated_data/{}_prediction_b.csv'.format(scenario), index=False)

In [18]:
data[:5][data.columns.tolist()[-10:]]

,2048,2049,my_predicted,my_target,score,base_predicted,base_target,base_score,sum_top_down,sum_bottom_up
0,9000,how many,841,841,1.0,2195,841,0.0,515.023036,555.346463
1,9001,what color are the,1204,2542,0.0,759,2542,0.0,735.734441,733.956401
2,9002,what is the,2529,2529,1.0,2529,2529,1.0,946.130073,1108.889205
3,25000,what is,1539,1539,1.0,1539,1539,1.0,832.034498,1070.618597
4,25001,what,991,2681,0.0,2681,2681,1.0,437.906643,658.692889

In [19]:
(data[2049]>0).sum()

658111

In [20]:
data.shape

(658111, 2058)

In [21]:
# column 2048 -> query type
_sum = data.groupby(2049).sum().round(1)
count = data.groupby(2049).count()

activations_sum = pd.concat([pd.DataFrame(_sum[top_down].sum(1), columns=['sum_top_down']), 
                           pd.DataFrame(_sum[bottom_up].sum(1), columns=['sum_bottom_up'])], 1)
_sum = (activations_sum.sum_top_down + activations_sum.sum_bottom_up).values
activations_sum = activations_sum/np.array([_sum, _sum]).T

activations_count = pd.concat([pd.DataFrame(count[top_down].sum(1), columns=['count_top_down']), 
                             pd.DataFrame(count[bottom_up].sum(1), columns=['count_bottom_up'])], 1)
_sum = (activations_count.count_top_down + activations_count.count_bottom_up).values
activations_count = activations_count/np.array([_sum, _sum]).T

summary = pd.concat([activations_sum, activations_count], 1)

In [22]:
summary

,sum_top_down,sum_bottom_up,count_top_down,count_bottom_up
2049,,,,
"""take me",0.492939,0.507061,0.5,0.5
1. about,0.493725,0.506275,0.5,0.5
1. approximately,0.505704,0.494296,0.5,0.5
1. are,0.475826,0.524174,0.5,0.5
1. do,0.518744,0.481256,0.5,0.5
1. does,0.418094,0.581906,0.5,0.5
1. what,0.511447,0.488553,0.5,0.5
3 people,0.491350,0.508650,0.5,0.5
3 poles,0.503313,0.496687,0.5,0.5
4 lettered,0.440907,0.559093,0.5,0.5
5 speakers,0.499544,0.500456,0.5,0.5
6234 is,0.493877,0.506123,0.5,0.5
a book,0.505552,0.494448,0.5,0.5
a dish,0.484948,0.515052,0.5,0.5
a gambler,0.513476,0.486524,0.5,0.5
a kite,0.478272,0.521728,0.5,0.5
a person,0.503159,0.496841,0.5,0.5
a piece,0.489854,0.510146,0.5,0.5
a pile,0.520604,0.479396,0.5,0.5
a pull,0.475547,0.524453,0.5,0.5
a red,0.514597,0.485403,0.5,0.5
a street,0.528323,0.471677,0.5,0.5
a tennis,0.507793,0.492207,0.5,0.5
a type,0.512143,0.487857,0.5,0.5
a view,0.430280,0.569720,0.5,0.5
a white,0.505314,0.494686,0.5,0.5
a zebra,0.461890,0.538110,0.5,0.5
aa stands,0.526647,0.473353,0.5,0.5
about how,0.484883,0.515117,0.5,0.5
about what,0.484527,0.515473,0.5,0.5
...,...,...,...,...
would this,0.499083,0.500917,0.5,0.5
would those,0.502054,0.497946,0.5,0.5
would today,0.490913,0.509087,0.5,0.5
would traffic,0.501796,0.498204,0.5,0.5
would tsa,0.510268,0.489732,0.5,0.5
would two,0.506924,0.493076,0.5,0.5
would we,0.495344,0.504656,0.5,0.5
would windex,0.489789,0.510211,0.5,0.5
would wolves,0.485492,0.514508,0.5,0.5
would you,0.500159,0.499841,0.5,0.5
would your,0.496838,0.503162,0.5,0.5
wouldn't it,0.511029,0.488971,0.5,0.5
wouldn't one,0.500642,0.499358,0.5,0.5
wouldn't you,0.488358,0.511642,0.5,0.5
"wristwatch, bracelet",0.574954,0.425046,0.5,0.5
written in,0.509483,0.490517,0.5,0.5
yes he,0.486440,0.513560,0.5,0.5
yes it,0.486374,0.513626,0.5,0.5
yes on,0.492980,0.507020,0.5,0.5
yes she,0.502084,0.497916,0.5,0.5
yes she's,0.501205,0.498795,0.5,0.5
yes the,0.503861,0.496139,0.5,0.5
yes there,0.492169,0.507831,0.5,0.5
yes they,0.491858,0.508142,0.5,0.5
yes this,0.498360,0.501640,0.5,0.5
yes very,0.474871,0.525129,0.5,0.5
"yes, it",0.475361,0.524639,0.5,0.5
"yes, the",0.507106,0.492894,0.5,0.5
"yes, this",0.482990,0.517010,0.5,0.5
"yes, you",0.510741,0.489259,0.5,0.5

In [23]:
#p = 1.5 #90%

mean_dif = (summary.sum_top_down - summary.sum_bottom_up).mean()
std_dif = (summary.sum_top_down - summary.sum_bottom_up).std()
data_dif = (summary.sum_top_down - summary.sum_bottom_up)
#data_diff = pd.DataFrame( (data_dif < mean_dif - p * std_dif).astype(int) + 
#                         (data_dif > mean_dif + p * std_dif).astype(int) > 0 )

significantly_different = summary.copy()#.loc[data_diff[data_diff[0]].index]
significantly_different['diff'] = data_dif.round(2)
abstract_rep_count = pd.DataFrame(data[2049].value_counts())
abstract_representativity = np.round(abstract_rep_count/data.shape[0] *100, 4)
print(abstract_representativity.shape)
significantly_different['_count'] = abstract_rep_count.loc[significantly_different.index]
#significantly_different['represents %'] = abstract_representativity.loc[significantly_different.index]
significantly_different['over_median'] = abstract_representativity.loc[significantly_different.index] > float(abstract_representativity.median())
print(float(abstract_representativity.median()))
significantly_different['winner'] = np.array(['top_down',
                                              'bottom_up'])[(significantly_different.sum_bottom_up 
                                                            > significantly_different.sum_top_down).astype(int)]

#np.round(float(data_dif[data_diff[0]].shape[0]) / data_diff.shape[0] * 100, 2)

(1650, 1)
0.0003

In [24]:
significantly_different.shape

(1650, 8)

In [25]:
significantly_different.to_csv('./concatenated_data/queries_summary_{}_b.csv'.format(scenario), index=True)

In [26]:
significantly_different#[significantly_different._count>1].sort_values(by='winner')

,sum_top_down,sum_bottom_up,count_top_down,count_bottom_up,diff,_count,over_median,winner
2049,,,,,,,,
"""take me",0.492939,0.507061,0.5,0.5,-0.01,1,False,bottom_up
1. about,0.493725,0.506275,0.5,0.5,-0.01,1,False,bottom_up
1. approximately,0.505704,0.494296,0.5,0.5,0.01,2,False,top_down
1. are,0.475826,0.524174,0.5,0.5,-0.05,2,False,bottom_up
1. do,0.518744,0.481256,0.5,0.5,0.04,1,False,top_down
1. does,0.418094,0.581906,0.5,0.5,-0.16,2,False,bottom_up
1. what,0.511447,0.488553,0.5,0.5,0.02,2,False,top_down
3 people,0.491350,0.508650,0.5,0.5,-0.02,1,False,bottom_up
3 poles,0.503313,0.496687,0.5,0.5,0.01,1,False,top_down
4 lettered,0.440907,0.559093,0.5,0.5,-0.12,1,False,bottom_up
5 speakers,0.499544,0.500456,0.5,0.5,-0.00,2,False,bottom_up
6234 is,0.493877,0.506123,0.5,0.5,-0.01,1,False,bottom_up
a book,0.505552,0.494448,0.5,0.5,0.01,2,False,top_down
a dish,0.484948,0.515052,0.5,0.5,-0.03,2,False,bottom_up
a gambler,0.513476,0.486524,0.5,0.5,0.03,2,False,top_down
a kite,0.478272,0.521728,0.5,0.5,-0.04,2,False,bottom_up
a person,0.503159,0.496841,0.5,0.5,0.01,5,True,top_down
a piece,0.489854,0.510146,0.5,0.5,-0.02,2,False,bottom_up
a pile,0.520604,0.479396,0.5,0.5,0.04,2,False,top_down
a pull,0.475547,0.524453,0.5,0.5,-0.05,1,False,bottom_up
a red,0.514597,0.485403,0.5,0.5,0.03,2,False,top_down
a street,0.528323,0.471677,0.5,0.5,0.06,2,False,top_down
a tennis,0.507793,0.492207,0.5,0.5,0.02,2,False,top_down
a type,0.512143,0.487857,0.5,0.5,0.02,2,False,top_down
a view,0.430280,0.569720,0.5,0.5,-0.14,2,False,bottom_up
a white,0.505314,0.494686,0.5,0.5,0.01,1,False,top_down
a zebra,0.461890,0.538110,0.5,0.5,-0.08,1,False,bottom_up
aa stands,0.526647,0.473353,0.5,0.5,0.05,1,False,top_down
about how,0.484883,0.515117,0.5,0.5,-0.03,98,True,bottom_up
about what,0.484527,0.515473,0.5,0.5,-0.03,36,True,bottom_up
...,...,...,...,...,...,...,...,...
would this,0.499083,0.500917,0.5,0.5,-0.00,562,True,bottom_up
would those,0.502054,0.497946,0.5,0.5,0.00,4,True,top_down
would today,0.490913,0.509087,0.5,0.5,-0.02,2,False,bottom_up
would traffic,0.501796,0.498204,0.5,0.5,0.00,2,False,top_down
would tsa,0.510268,0.489732,0.5,0.5,0.02,2,False,top_down
would two,0.506924,0.493076,0.5,0.5,0.01,4,True,top_down
would we,0.495344,0.504656,0.5,0.5,-0.01,2,False,bottom_up
would windex,0.489789,0.510211,0.5,0.5,-0.02,2,False,bottom_up
would wolves,0.485492,0.514508,0.5,0.5,-0.03,2,False,bottom_up
would you,0.500159,0.499841,0.5,0.5,0.00,601,True,top_down
would your,0.496838,0.503162,0.5,0.5,-0.01,2,False,bottom_up
wouldn't it,0.511029,0.488971,0.5,0.5,0.02,1,False,top_down
wouldn't one,0.500642,0.499358,0.5,0.5,0.00,2,False,top_down
wouldn't you,0.488358,0.511642,0.5,0.5,-0.02,6,True,bottom_up
"wristwatch, bracelet",0.574954,0.425046,0.5,0.5,0.15,2,False,top_down
written in,0.509483,0.490517,0.5,0.5,0.02,2,False,top_down
yes he,0.486440,0.513560,0.5,0.5,-0.03,4,True,bottom_up
yes it,0.486374,0.513626,0.5,0.5,-0.03,21,True,bottom_up
yes on,0.492980,0.507020,0.5,0.5,-0.01,1,False,bottom_up
yes she,0.502084,0.497916,0.5,0.5,0.00,2,False,top_down
yes she's,0.501205,0.498795,0.5,0.5,0.00,2,False,top_down
yes the,0.503861,0.496139,0.5,0.5,0.01,8,True,top_down
yes there,0.492169,0.507831,0.5,0.5,-0.02,6,True,bottom_up
yes they,0.491858,0.508142,0.5,0.5,-0.02,3,True,bottom_up
yes this,0.498360,0.501640,0.5,0.5,-0.00,2,False,bottom_up
yes very,0.474871,0.525129,0.5,0.5,-0.05,2,False,bottom_up
"yes, it",0.475361,0.524639,0.5,0.5,-0.05,6,True,bottom_up
"yes, the",0.507106,0.492894,0.5,0.5,0.01,2,False,top_down
"yes, this",0.482990,0.517010,0.5,0.5,-0.03,4,True,bottom_up
"yes, you",0.510741,0.489259,0.5,0.5,0.02,2,False,top_down

In [27]:
2+2

4