In [1]:
import pandas as pd
import numpy as np

In [2]:
#sizes = {'real': {'train': 443757, 'val': 214354}, 'abstract': {'train': 60000, 'val': 30000}}

In [150]:
def get_summary(scenario, _set = None):
    details_train = pd.read_csv('./data/predictions_details_{}_train'.format(scenario), header=None)
    details_train['_set'] = 'train'
    details_val = pd.read_csv('./data/predictions_details_{}_val'.format(scenario), header=None)
    details_val['_set'] = 'val'
    details = pd.concat([details_train, details_val])
    details[2] = details[2].astype(int)
    details.sort_values(by=2, inplace=True)

    prediction = pd.read_csv('./concatenated_data/{}_prediction.csv'.format(scenario))
    prediction.rename(columns={'2049':'q_type', '2048':'q_id'}, inplace=True)
    
    
    prediction['_set'] = details.set_index(2)[['_set']].loc[prediction['q_id'].astype(int)].values

    #prediction['my_acc'] = (prediction.my_predicted == prediction.my_target).astype(int)
    #prediction['base_acc'] = (prediction.base_predicted == prediction.base_target).astype(int)
    prediction['my_score'] = prediction.score
    prediction['base_score'] = prediction.base_score

    if _set is None:
        sset_prediction = prediction
    else:
        sset_prediction = prediction[prediction._set == _set]
    
    #accs = (sset_prediction[['my_acc','base_acc']].sum()/sset_prediction.shape[0]).values
    scores = (sset_prediction[['my_score','base_score']].sum()/sset_prediction.shape[0]).values


    #print('acc', accs, accs[0] > accs[1])
    print('scores', scores, scores[0] > scores[1])


    accurracies = sset_prediction[['q_type', 'my_score','base_score',
                              'sum_top_down', 'sum_bottom_up']].groupby(['q_type']).sum().reset_index()
                                # 'my_acc','base_acc', 
    accurracies = accurracies.set_index('q_type')
    
    
    new_summary = pd.read_csv('./concatenated_data/queries_summary_{}.csv'.format(scenario))
    del new_summary['count_top_down']
    new_summary.rename(columns={'2049':'_q_type'}, inplace=True)
    
    
    new_summary = new_summary[new_summary._q_type.isin(accurracies.index.values)]
    new_summary['q_type'] = accurracies.loc[new_summary._q_type.values].index.values
    #new_summary['my_acc'] = accurracies.loc[new_summary._q_type.values].my_acc.values
    #new_summary['base_acc'] =  accurracies.loc[new_summary._q_type.values].base_acc.values
    new_summary['my_score'] = accurracies.loc[new_summary._q_type.values].my_score.values
    new_summary['base_score'] =  accurracies.loc[new_summary._q_type.values].base_score.values
    val_count = pd.DataFrame(sset_prediction.q_type.value_counts())
    new_summary['_count'] = val_count.loc[new_summary._q_type.values].values
    new_summary['above_median'] = new_summary['_count'] > float(new_summary['_count'].median())
    new_summary['sum_top_down'] = accurracies.loc[new_summary._q_type.values].sum_top_down.values
    new_summary['sum_bottom_up'] =  accurracies.loc[new_summary._q_type.values].sum_bottom_up.values
    new_summary['winner'] = np.array(['top_down',
                                      'bottom_up'])[(new_summary.sum_bottom_up 
                                       > new_summary.sum_top_down).astype(int)]
    _sum = new_summary[['my_score','base_score']].sum() #'my_acc','base_acc',
    
    #print('acc_sum', _sum.values[:2], _sum[0] > _sum[1])#/accurracies.shape[0]
    print('score_sum', _sum.values, _sum[0] > _sum[1])#/accurracies.shape[0]


    assert (new_summary._q_type != new_summary.q_type).sum() == 0
    _sum = (new_summary.sum_top_down + new_summary.sum_bottom_up).values
    new_summary['sum_top_down'] = new_summary['sum_top_down']/_sum
    new_summary['sum_bottom_up'] = new_summary['sum_bottom_up']/_sum
    new_summary['_diff'] = (new_summary.sum_top_down - new_summary.sum_bottom_up)
    new_summary['diff_score'] = (new_summary.my_score - new_summary.base_score)

    del new_summary['diff']
    del new_summary['q_type']
    del new_summary['sum_top_down']
    
    #del new_summary['base_acc']
    #del new_summary['my_acc']



    print(new_summary._count.sum())
    return new_summary

In [151]:
def get_differents(summary, p=1, min_count=2):
    #summary = summary[summary._count >= min_count]
    
    mean_dif = summary._diff.mean()
    std_dif = summary._diff.std()
    data_dif = summary._diff
    data_diff = pd.DataFrame( ((data_dif < mean_dif - p * std_dif).astype(int) + 
                             (data_dif > mean_dif + p * std_dif).astype(int)) > 0 )
    significantly_different = summary.loc[data_diff[data_diff._diff].index]
    print(data_diff.shape, 'shape')
    
    different = significantly_different[significantly_different._count>min_count].sort_values(by='winner')
    

    different = different[different.diff_score!=0]

    print(np.round(float(different.shape[0]) / data_diff.shape[0] * 100, 3),'% query_types')
    print(np.round(float(different._count.sum())/ summary._count.sum() * 100, 3),'% queries')
    
    vals = different[['my_score','base_score']].sum().values
    print(vals, vals[0]>vals[1], 'sum_scores')
    print(int(different.diff_score.sum()), 'abs diff')
    
    print(different.shape[0],'len')
    different.sort_values(by=['winner','diff_score'], inplace=True, ascending=[True, False])
    return different

# Real

In [164]:
scenario = 'real'
summary = get_summary(scenario, _set='val')
print('\n')
different = get_differents(summary, p=1, min_count=2)
different

('scores', array([ 0.63612855,  0.63371339]), True)
('score_sum', array([ 136356.7,  135839. ]), True)
214354


((317, 1), 'shape')
(11.041, '% query_types')
(11.644, '% queries')
(array([ 18095.2,  18012.5]), True, 'sum_scores')
(82, 'abs diff')
(35, 'len')

,_q_type,sum_bottom_up,count_bottom_up,_count,over_median,winner,my_score,base_score,above_median,_diff,diff_score
391,what color is the,0.514800,0.5,14073,True,bottom_up,11018.9,10946.8,True,-0.029601,72.1
389,what color are the,0.517062,0.5,3221,True,bottom_up,2426.4,2419.0,True,-0.034123,7.4
485,who many,0.514453,0.5,18,True,bottom_up,7.2,4.2,True,-0.028907,3.0
253,name on,0.518880,0.5,7,True,bottom_up,6.0,3.6,False,-0.037761,2.4
501,who rides,0.524430,0.5,7,True,bottom_up,5.0,4.0,False,-0.048860,1.0
373,urban or,0.526171,0.5,14,True,bottom_up,14.0,13.0,True,-0.052343,1.0
570,will those,0.524738,0.5,3,True,bottom_up,2.0,1.0,False,-0.049476,1.0
324,sunny or,0.536791,0.5,50,True,bottom_up,42.9,42.4,True,-0.073581,0.5
422,where might,0.521554,0.5,12,True,bottom_up,7.4,7.3,True,-0.043107,0.1
384,what animal is,0.517966,0.5,836,True,bottom_up,620.9,621.0,True,-0.035931,-0.1
410,when did,0.518310,0.5,7,True,bottom_up,0.0,0.3,False,-0.036619,-0.3
40,boy or,0.517917,0.5,3,False,bottom_up,2.0,2.6,False,-0.035834,-0.6
201,in black,0.524182,0.5,6,True,bottom_up,3.9,4.5,False,-0.048363,-0.6
546,will be,0.514475,0.5,39,True,bottom_up,19.7,21.3,True,-0.028951,-1.6
325,the animal,0.516283,0.5,752,True,bottom_up,563.8,565.4,True,-0.032567,-1.6
303,should someone,0.514973,0.5,6,True,bottom_up,3.6,5.6,False,-0.029946,-2.0
187,how,0.515012,0.5,769,True,bottom_up,286.8,288.8,True,-0.030023,-2.0
413,when will,0.533817,0.5,5,True,bottom_up,0.0,2.2,False,-0.067633,-2.2
385,what are,0.518699,0.5,382,True,bottom_up,180.7,183.8,True,-0.037398,-3.1
397,what is the color of the,0.518357,0.5,826,True,bottom_up,660.8,664.5,True,-0.036714,-3.7
394,what is in the,0.517037,0.5,1748,True,bottom_up,891.6,914.9,True,-0.034074,-23.3
401,what is the woman,0.479126,0.5,875,True,top_down,505.2,489.4,True,0.041748,15.8
231,man or,0.483317,0.5,228,True,top_down,195.7,185.4,True,0.033365,10.3
400,what is the person,0.484777,0.5,910,True,top_down,590.4,582.5,True,0.030446,7.9
493,who owns,0.484964,0.5,57,True,top_down,12.2,10.3,True,0.030073,1.9
475,who left,0.463941,0.5,3,True,top_down,1.0,0.0,False,0.072118,1.0
416,where did,0.469109,0.5,38,True,top_down,8.7,7.8,True,0.061782,0.9
446,who cleaned,0.461387,0.5,6,True,top_down,2.8,2.4,False,0.077225,0.4
532,who wrote,0.480224,0.5,5,True,top_down,2.2,1.8,False,0.039553,0.4
484,who manufactures,0.443600,0.5,8,True,top_down,1.3,1.0,False,0.112799,0.3
465,who had,0.483065,0.5,4,False,top_down,1.3,1.0,False,0.033871,0.3
496,who photographed,0.484387,0.5,7,True,top_down,2.8,3.4,False,0.031226,-0.6
482,who makes,0.483947,0.5,18,True,top_down,3.5,4.1,True,0.032105,-0.6
440,who broke,0.476188,0.5,3,False,top_down,0.3,1.3,False,0.047623,-1.0
521,who uses,0.465223,0.5,13,True,top_down,4.2,5.9,True,0.069555,-1.7

In [165]:
summary[summary.winner=='bottom_up'].sort_values(by='diff_score', ascending=False)[:20]

,_q_type,sum_bottom_up,count_bottom_up,_count,over_median,winner,my_score,base_score,above_median,_diff,diff_score
210,is the,0.503316,0.5,16604,True,bottom_up,12841.4,12752.9,True,-0.006632,88.5
202,in the,0.510852,0.5,5785,True,bottom_up,3502.2,3419.2,True,-0.021704,83.0
391,what color is the,0.514800,0.5,14073,True,bottom_up,11018.9,10946.8,True,-0.029601,72.1
383,what,0.508178,0.5,16197,True,bottom_up,7507.8,7440.3,True,-0.016357,67.5
188,how many,0.512289,0.5,13779,True,bottom_up,6815.4,6753.7,True,-0.024578,61.7
189,how many people are,0.507203,0.5,1780,True,bottom_up,981.4,948.9,True,-0.014405,32.5
435,which,0.508893,0.5,2554,True,bottom_up,1159.3,1127.2,True,-0.017786,32.1
408,what type of,0.509495,0.5,4061,True,bottom_up,2299.7,2272.2,True,-0.018989,27.5
206,is,0.502419,0.5,12545,True,bottom_up,8473.9,8450.6,True,-0.004837,23.3
212,is the person,0.501203,0.5,808,True,bottom_up,610.5,589.7,True,-0.002406,20.8
29,are the,0.503289,0.5,3974,True,bottom_up,3136.5,3119.1,True,-0.006577,17.4
566,will the,0.501306,0.5,322,True,bottom_up,242.3,225.9,True,-0.002611,16.4
327,the boy,0.500301,0.5,682,True,bottom_up,504.6,491.8,True,-0.000603,12.8
403,what kind of,0.508673,0.5,5835,True,bottom_up,3319.8,3308.4,True,-0.017346,11.4
217,is this a,0.502923,0.5,7644,True,bottom_up,6266.7,6256.8,True,-0.005846,9.9
414,where are the,0.505027,0.5,1518,True,bottom_up,627.4,617.8,True,-0.010054,9.6
286,see a,0.500479,0.5,380,True,bottom_up,302.0,293.7,True,-0.000958,8.3
575,would a,0.501215,0.5,192,True,bottom_up,136.3,128.0,True,-0.002430,8.3
389,what color are the,0.517062,0.5,3221,True,bottom_up,2426.4,2419.0,True,-0.034123,7.4
540,why,0.512779,0.5,1251,True,bottom_up,270.7,263.7,True,-0.025558,7.0

In [166]:
summary[summary.winner=='top_down'].sort_values(by='diff_score', ascending=False)[:20]

,_q_type,sum_bottom_up,count_bottom_up,_count,over_median,winner,my_score,base_score,above_median,_diff,diff_score
211,is the man,0.497037,0.5,2699,True,top_down,2114.2,2080.3,True,0.005925,33.9
141,does the,0.497173,0.5,2499,True,top_down,1940.2,1916.5,True,0.005655,23.7
401,what is the woman,0.479126,0.5,875,True,top_down,505.2,489.4,True,0.041748,15.8
405,what room is,0.490784,0.5,765,True,top_down,709.6,694.0,True,0.018433,15.6
139,do,0.499391,0.5,2651,True,top_down,2041.0,2028.4,True,0.001218,12.6
231,man or,0.483317,0.5,228,True,top_down,195.7,185.4,True,0.033365,10.3
402,what is this,0.496490,0.5,1694,True,top_down,1080.7,1071.4,True,0.007019,9.3
207,is he,0.497805,0.5,1261,True,top_down,967.9,960.0,True,0.004390,7.9
400,what is the person,0.484777,0.5,910,True,top_down,590.4,582.5,True,0.030446,7.9
131,did the,0.496037,0.5,213,True,top_down,175.3,168.3,True,0.007926,7.0
399,what is the name,0.497840,0.5,778,True,top_down,113.7,107.1,True,0.004320,6.6
213,is the woman,0.492806,0.5,1092,True,top_down,821.2,816.1,True,0.014389,5.1
99,could,0.497302,0.5,184,True,top_down,141.3,136.8,True,0.005396,4.5
28,are,0.498903,0.5,1688,True,top_down,1239.3,1235.0,True,0.002195,4.3
124,did she,0.489843,0.5,36,True,top_down,31.5,27.3,True,0.020314,4.2
165,have any,0.496766,0.5,75,True,top_down,60.5,56.9,True,0.006469,3.6
305,should the,0.499925,0.5,46,True,top_down,34.3,30.9,True,0.000150,3.4
472,who is,0.494318,0.5,1110,True,top_down,481.2,478.3,True,0.011363,2.9
260,new york,0.489582,0.5,33,True,top_down,27.8,25.0,True,0.020835,2.8
398,what is the man,0.486639,0.5,2712,True,top_down,1704.7,1702.0,True,0.026721,2.7

# Abstract

In [153]:
scenario = 'abstract'
summary = get_summary(scenario, _set='val')
print('\n')
different = get_differents(summary, p=.66, min_count=2)
different

('scores', array([ 0.71153   ,  0.71069333]), True)
('score_sum', array([ 21345.9,  21320.8]), True)
30000


((177, 1), 'shape')
(16.949000000000002, '% query_types')
(31.382999999999999, '% queries')
(array([ 6006.1,  5978.8]), True, 'sum_scores')
(27, 'abs diff')
(30, 'len')

,_q_type,sum_bottom_up,count_bottom_up,_count,over_median,winner,my_score,base_score,above_median,_diff,diff_score
43,do,0.500101,0.5,330,True,bottom_up,274.6,267.3,True,-0.000202,7.3
7,are there any,0.520157,0.5,172,True,bottom_up,152.9,152.0,True,-0.040314,0.9
102,is the tv,0.502234,0.5,101,True,bottom_up,89.0,88.4,True,-0.004467,0.6
86,is anyone,0.515345,0.5,95,True,bottom_up,89.2,89.3,True,-0.030691,-0.1
221,will that,0.502367,0.5,3,True,bottom_up,2.6,3.0,False,-0.004735,-0.4
227,would a,0.506128,0.5,3,True,bottom_up,0.3,1.3,False,-0.012255,-1.0
164,what color is,0.506299,0.5,81,True,bottom_up,71.5,72.9,True,-0.012599,-1.4
101,is the sun,0.500762,0.5,155,True,bottom_up,128.7,132.2,True,-0.001523,-3.5
65,have the,0.501312,0.5,44,True,bottom_up,26.9,30.9,True,-0.002625,-4.0
162,what color,0.500193,0.5,164,True,bottom_up,132.7,137.8,True,-0.000387,-5.1
197,which,0.503044,0.5,258,True,bottom_up,105.9,111.5,True,-0.006088,-5.6
106,is there a,0.501573,0.5,907,True,bottom_up,747.4,767.5,True,-0.003147,-20.1
69,how many,0.471090,0.5,2686,True,top_down,1568.6,1506.6,True,0.057820,62.0
71,how many birds are,0.468498,0.5,86,True,top_down,43.5,32.7,True,0.063004,10.8
70,how many animals are,0.467302,0.5,86,True,top_down,41.3,31.0,True,0.065396,10.3
72,how many bushes,0.462417,0.5,87,True,top_down,46.7,40.2,True,0.075166,6.5
177,what is the man,0.481054,0.5,353,True,top_down,226.2,222.0,True,0.037892,4.2
167,what is in the,0.470097,0.5,356,True,top_down,233.8,230.3,True,0.059805,3.5
168,what is on the,0.462054,0.5,584,True,top_down,348.4,346.1,True,0.075892,2.3
180,what type of,0.479282,0.5,243,True,top_down,158.6,156.8,True,0.041435,1.8
117,name the,0.456662,0.5,3,True,top_down,0.6,0.0,False,0.086675,0.6
161,what are they,0.476473,0.5,156,True,top_down,103.5,104.0,True,0.047054,-0.5
76,how many pillows,0.466238,0.5,117,True,top_down,88.2,88.9,True,0.067525,-0.7
73,how many clouds are,0.479781,0.5,123,True,top_down,83.9,87.6,True,0.040439,-3.7
198,who,0.467151,0.5,137,True,top_down,66.6,70.4,True,0.065699,-3.8
160,what are the,0.475371,0.5,314,True,top_down,168.5,173.0,True,0.049258,-4.5
77,how many plants are,0.477838,0.5,84,True,top_down,55.3,60.6,True,0.044323,-5.3
166,what is,0.470955,0.5,1106,True,top_down,656.2,663.4,True,0.058089,-7.2
173,what is the dog,0.474922,0.5,190,True,top_down,108.7,116.0,True,0.050155,-7.3
199,who is,0.464034,0.5,391,True,top_down,185.8,195.1,True,0.071933,-9.3

In [162]:
summary[summary.winner=='bottom_up'].sort_values(by='diff_score', ascending=False)[:20]

,_q_type,sum_bottom_up,count_bottom_up,_count,over_median,winner,my_score,base_score,above_median,_diff,diff_score
43,do,0.500101,0.5,330,True,bottom_up,274.6,267.3,True,-0.000202,7.3
204,will all,0.502450,0.5,1,False,bottom_up,1.0,0.0,False,-0.004900,1.0
196,where's the,0.535325,0.5,1,False,bottom_up,1.0,0.0,False,-0.070650,1.0
7,are there any,0.520157,0.5,172,True,bottom_up,152.9,152.0,True,-0.040314,0.9
102,is the tv,0.502234,0.5,101,True,bottom_up,89.0,88.4,True,-0.004467,0.6
2,any coats,0.518402,0.5,1,False,bottom_up,1.0,1.0,False,-0.036804,0.0
232,would more,0.520383,0.5,1,False,bottom_up,0.0,0.0,False,-0.040766,0.0
211,will it,0.506267,0.5,15,True,bottom_up,12.0,12.0,True,-0.012534,0.0
207,will anyone,0.501637,0.5,1,False,bottom_up,1.0,1.0,False,-0.003274,0.0
195,where would,0.543903,0.5,1,False,bottom_up,0.3,0.3,False,-0.087807,0.0
155,were the,0.503157,0.5,2,False,bottom_up,2.0,2.0,False,-0.006314,0.0
144,to walk,0.510516,0.5,4,False,bottom_up,3.3,3.3,False,-0.021033,0.0
123,should a,0.503852,0.5,5,True,bottom_up,5.0,5.0,False,-0.007704,0.0
118,no it's,0.505414,0.5,1,False,bottom_up,0.0,0.0,False,-0.010828,0.0
38,did somebody,0.501089,0.5,2,False,bottom_up,2.0,2.0,False,-0.002178,0.0
55,has dinner,0.518445,0.5,1,False,bottom_up,1.0,1.0,False,-0.036891,0.0
15,could bugs,0.502315,0.5,1,False,bottom_up,0.0,0.0,False,-0.004631,0.0
29,did all,0.518597,0.5,1,False,bottom_up,0.3,0.3,False,-0.037194,0.0
35,did it,0.500350,0.5,2,False,bottom_up,2.0,2.0,False,-0.000699,0.0
240,would there,0.505990,0.5,2,False,bottom_up,2.0,2.0,False,-0.011980,0.0

In [163]:
summary[summary.winner=='top_down'].sort_values(by='diff_score', ascending=False)[:20]

,_q_type,sum_bottom_up,count_bottom_up,_count,over_median,winner,my_score,base_score,above_median,_diff,diff_score
69,how many,0.471090,0.5,2686,True,top_down,1568.6,1506.6,True,0.057820,62.0
99,is the man,0.493456,0.5,580,True,top_down,484.6,470.4,True,0.013089,14.2
103,is the woman,0.494635,0.5,687,True,top_down,561.1,548.6,True,0.010731,12.5
71,how many birds are,0.468498,0.5,86,True,top_down,43.5,32.7,True,0.063004,10.8
70,how many animals are,0.467302,0.5,86,True,top_down,41.3,31.0,True,0.065396,10.3
6,are there,0.499357,0.5,237,True,top_down,202.1,194.1,True,0.001287,8.0
46,does the,0.494442,0.5,625,True,top_down,516.1,508.9,True,0.011116,7.2
3,are,0.495761,0.5,177,True,top_down,137.1,130.2,True,0.008477,6.9
72,how many bushes,0.462417,0.5,87,True,top_down,46.7,40.2,True,0.075166,6.5
165,what color is the,0.498515,0.5,2098,True,top_down,1898.8,1893.3,True,0.002969,5.5
79,how many windows are,0.495058,0.5,109,True,top_down,92.3,87.3,True,0.009884,5.0
87,is he,0.493580,0.5,155,True,top_down,129.0,124.2,True,0.012841,4.8
178,what is the woman,0.484534,0.5,307,True,top_down,193.7,189.3,True,0.030932,4.4
45,does,0.493607,0.5,110,True,top_down,91.5,87.2,True,0.012785,4.3
179,what kind of,0.485067,0.5,374,True,top_down,274.5,270.2,True,0.029866,4.3
177,what is the man,0.481054,0.5,353,True,top_down,226.2,222.0,True,0.037892,4.2
167,what is in the,0.470097,0.5,356,True,top_down,233.8,230.3,True,0.059805,3.5
98,is the little girl,0.495877,0.5,140,True,top_down,125.7,122.5,True,0.008245,3.2
210,will he,0.497348,0.5,7,True,top_down,7.0,4.3,False,0.005304,2.7
170,what is the baby,0.486023,0.5,68,True,top_down,45.7,43.2,True,0.027954,2.5